@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #b38add;
    --bg-container: #373c4f;
    --text-onCalendar: #878895;
    --bg-secondary: #d3d4d6d7;
    --bg-tertiary: #999999;
    --border-days: #f5f5f5;
    --other-days: #b3b3b3;
    --bg-credits: #b38add;
  }
}

@layer components {}